<aside class="primary-aside d-flex flex-column">
  <!-- Nav list -->
  <ul class="nav flex-column flex-nowrap flex-grow-1 overflow-auto">
    <li class="nav-item text-center px-4 py-3">
      <a
        class="nav-link d-flex"
        routerLinkActive="active-link"
        (click)="openLiveOrders()"
      >
        <span class="nav-icon me-3 bi bi-grid-1x2-fill"></span>
        <span class="nav-text text-nowrap">Live Orders</span>
      </a>
    </li>
    <li class="nav-item text-center px-4 py-3">
      <a
        class="nav-link d-flex"
        (click)="addNewOrder()"
        routerLinkActive="active-link"
      >
        <span class="nav-icon me-3 bi bi-bag-plus-fill"></span>
        <span class="nav-text text-nowrap">Add New Order</span>
      </a>
    </li>
    <li class="nav-item text-center px-4 py-3">
      <a class="nav-link d-flex">
        <span class="nav-icon me-3 bi bi-bag-check-fill"></span>
        <span class="nav-text text-nowrap">Order History</span>
      </a>
    </li>
    <li class="nav-item text-center px-4 py-3">
      <a class="nav-link d-flex">
        <span class="nav-icon me-3 bi bi-chat-left-text-fill"></span>
        <span class="nav-text">Messages</span>
      </a>
    </li>
    <li class="nav-item text-center px-4 py-3">
      <a class="nav-link d-flex">
        <span class="nav-icon me-3 bi bi-gear-fill"></span>
        <span class="nav-text">Settings</span>
      </a>
    </li>
  </ul>
  <!-- End: Nav list -->
</aside>
