<div class="order-list-wrapper h-100 p-4">
  <div class="container">
    <h3 class="mb-4">Live Orders</h3>
    <div class="row gx-4 live-order mb-4">
      <div class="col-4">
        <div
          class="d-flex align-items-center bg-white rounded border border-light w-100 p-4"
        >
          <div
            class="total icon d-flex align-items-center justify-content-center"
          >
            <span class="bi bi-bag-fill"></span>
          </div>
          <div>
            <h1>{{ total }}</h1>
            <p>Orders</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div
          class="d-flex align-items-center p-4 bg-white rounded border border-light w-100"
        >
          <div
            class="pending icon d-flex align-items-center justify-content-center"
          >
            <span class="bi bi-stopwatch-fill"></span>
          </div>
          <div>
            <h1>{{ pending }}</h1>
            <p>Pending Orders</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div
          class="d-flex align-items-center p-4 bg-white rounded border border-light w-100"
        >
          <div
            class="dispatch icon d-flex align-items-center justify-content-center"
          >
            <span class="bi bi-truck"></span>
          </div>
          <div>
            <h1>{{ dispatch }}</h1>
            <p>Total Dispatch</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-between mb-4">
        <div>
          <h1>Orders</h1>
        </div>
        <div class="d-flex align-items-center">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            [(ngModel)]="searchText"
          />
          <a
            class="btn btn-primary text-white rounded text-nowrap"
            (click)="openForm()"
            >Add New Order
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date and time</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of orderList | filter : searchText">
            <th scope="row">{{ data.id }}</th>
            <td>
              <img
                src="{{ data.profileImage }}"
                alt=""
                class="profile-img me-3"
              />{{ data.userName | titlecase }}
            </td>
            <td>
              {{ data.dateNtime.year }}-{{ data.dateNtime.month }}-{{
                data.dateNtime.day
              }}
            </td>
            <td>{{ data.price | currency : "INR" }}</td>
            <td>
              <div
                class="badge rounded-pill"
                [ngClass]="[
                  data.status == 'Completed'
                    ? 'text-bg-success'
                    : '' || data.status == 'Dispatch'
                    ? 'text-bg-warning '
                    : '' || data.status == 'Pending'
                    ? 'text-bg-danger'
                    : ''
                ]"
              >
                {{ data.status }}
              </div>
            </td>
            <td>
              <div ngbDropdown>
                <span
                  class="bi bi-three-dots-vertical"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                ></span>
                <div
                  ngbDropdownMenu
                  aria-labelledby="dropdownBasic1"
                  class="dropdown-menu"
                >
                  <button ngbDropdownItem (click)="onEdit(data.id)">
                    Edit
                  </button>
                  <button
                    ngbDropdownItem
                    (click)="openVerticallyCentered(content)"
                  >
                    Delete
                  </button>
                </div>
              </div>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">Delete?</h4>
                  <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>Are sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-light"
                    (click)="modal.close('Close click')"
                  >
                    Close
                  </button>
                  <button class="btn btn-primary" (click)="onDelete(data.id)">
                    Confirm
                  </button>
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
