.primary-aside {
  height: 100%;
  .active-link {
    background-color: #ffebec;
    color: $nav-link-active-color;
    border-radius: 8px;
  }
}
.nav {
  &-item {
    .nav-link {
      &:hover {
        background-color: #ffebec;
        color: $nav-link-active-color;
        border-radius: 8px;
      }
    }
  }
}
