.dashboard-wrapper {
  background-color: #fff9f9;
  border-radius: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}
.profile-wrapper-form {
  margin-top: 40px;
  height: 100px;
  width: 100px;
  img {
    max-width: 100%;
  }
}
